version: '3.8'

services:
  yt-downloader:
    image: albertomoltrasio/yt-downloader:latest
    container_name: yt-downloader
    ports:
      - "6776:6776"
    volumes:
      - ./downloads:/app/downloads
      - ./logs:/app/logs
    environment:
      - PORT=6776
      - MAX_STORAGE_MB=512.0
    restart: unless-stopped
